/*COLORS*/

nav.st-nav {
    background-color: #17191C;
    padding: 0;
    margin: 0;
}

body.home-body {
    background-color: #F2F7FF;
    padding-top: 48px;
}

.case-study-cards {
    background-color: #DEE0EA;
    border: 0;
    border-radius: 0;
}

hr.hr-size {
    border-color: #DEE0EA;
    background-color: #DEE0EA;
    height: 2px;
}

/*FONTS*/

.st-nav-font {
    font-family: 'Norican', cursive;
    font-size: 2rem;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #17191C;
}

p,
a,
li {
    font-weight: lighter;
}

a.st-card-link {
    text-align: right;
    display: block;
    color: #6c757d;
    font-size: 0.9rem;
}

/*PADDING*/

.header-top-pad {
    padding-top: 30px;
}

.header-bottom-pad {
    padding-bottom: 20px;
}

hr.hr-top-pad {
    margin-top: 30px;
}
