/*COLORS*/

/*
BLACK       #23262B
LIGHT GREY  #F2F7FF
GREY        #DEE0EA
GREEN       #2C4F39
PURPLE      #44304C
*/

nav.st-nav {
    background-color: #23262B;
    padding: 0;
    margin: 0;
}

nav.st-breadcrumb {
    margin-top: 48px;
}

nav ol.st-breadcrumb-ol {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    margin: 0;
    border-radius: 0;
    background-color: #DEE0EA;
}

body.home-body {
    background-color: #F2F7FF;
    padding-top: 75px;
}

.case-study-cards {
    background-color: #DEE0EA;
    border: 0;
    border-radius: 0;
}

hr.hr-size {
    border-color: #DEE0EA;
    background-color: #DEE0EA;
    height: 1px;
}

/*FONTS*/

.st-nav-font {
    font-family: 'Norican', cursive;
    font-size: 2rem;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

.st-nav-font:hover,
.st-nav-font:active {
    color: #ffffff;
    text-decoration-line: none;
}

.st-bread-active {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: #6c757d;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

.st-bread-inactive {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: #6c757d;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #17191C;
}

p,
a,
li {
    font-weight: lighter;
}

a.st-card-link {
    text-align: right;
    display: block;
    color: #6c757d;
    font-size: 0.9rem;
}

div p.p-more {
    padding-top: 10px;
    text-align: right;
}

a:hover {
    color: #44304C;
    text-decoration-line: none;
}

/*PADDING*/

.header-top-pad {
    padding-top: 30px;
}

.header-bottom-pad {
    padding-bottom: 20px;
}

hr.hr-top-pad {
    margin-top: 20px;
}
